* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Finlandica', sans-serif;

    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/*placeholder text change system i know in google search*/
::placeholder {
    font-size: 16px;
}

#banner {
    background: url(../images/background-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-flex {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.banner-content h1 {
    font-size: 55px;
    margin-bottom: 40px;
    text-align: center;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
}

.donnet-btn-flex {
    display: flex;
    justify-content: center;
}

.btn-link {
    color: #fff;
    background: #FF5959;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#donate-area {
    padding: 120px 0;
}

.donate-area-header-text-flex {
    display: flex;
    justify-content: center;
}

.donate-header-text {
    width: 40%;
}

.donate-header-text h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 700;
}

.donate-header-text p {
    line-height: 1.5;
    text-align: justify;
    color: #707070;
}

.money-area-flex {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.money-items {
    padding: 40px;
    background: #FAFAFA;
    margin: 20px;
    cursor: pointer;
}

.money-items h4 {
    color: #707070;
    font-size: 35px
}

.items-color {
    color: #FF5959;
    border: 3px solid #FF5959;
}

.other-amout-flex {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.input-area input {
    width: 100%;
    padding: 10px 100px;
    outline: none;
    border: none;
    border-bottom: 1px solid orange;
}

.submit-donate-flex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#donate-plan {
    padding: 120px 0;
}

.donate-plan-header-text-flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

.donate-plan-text h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}

.span-text-color {
    color: #FF5959;
}

.donate-plan-card-flex {
    display: flex;
    margin-top: 80px;
}

.card {
    padding: 30px;
    margin: 10px;
}

.card-one {
    background: #EDF5F6;
}

.card-two {
    background: #FFEEEE;
}

.card-three {
    background: #FFF4D6;
}

.card h3 {
    font-size: 35px;
    margin: 15px 0;
}

.card p {
    font-size: 16px;
    color: #707070;
}

#thanks-donate-person {
    padding: 100px 0;
}

.donate-person-header-text-flex {
    display: flex;
    justify-content: center;
}

.donate-person-header-text h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
}

.donate-person-header-text p {
    margin-bottom: 50px;
    font-size: 18px;
}

.donate-person-flex {
    display: flex;
    justify-content: space-between;
}

.donate-person-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.donate-person-item {
    padding: 20px;
    margin: 10px;

}

.donate-card-body {
    box-shadow: 2px 1px 3px 2px #ccc;
    padding: 20px;
    position: relative;
}

.donate-person-item h3 {
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0;
}

.donate-person-item p {
    font-size: 15px;
    margin-bottom: 15px;
}

.donate-person-item small {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

#contact {
    padding: 120px 0;
}

.contact-header-flex {
    display: flex;
    justify-content: center;
}

.contact-header-flex h2 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 100px;
}

.contact-form-flex {
    display: flex;
    justify-content: center;
}

.form-items {
    padding: 0 30px;
}

.user-identity input {
    display: block;
    padding: 10px 30px;
    margin-top: 5px;
    margin-bottom: 15px;
    outline: none;
    width: 350px;
}

.massage-area textarea {
    outline: none;
}

.contact-btn-flex {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.send-msg-btn {
    border: none;
    outline: none;
    padding: 15px 20px;
    background: #FF5959;
    color: #fff;
    cursor: pointer;
}

#update-area {
    padding: 70px;
}

.update-area-text-flex {
    display: flex;
    justify-content: center;
    text-align: center;
}

.update-area-text h2 {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 55px;
}

.subcribe-are-flex {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background: #FFF4D6;
    padding: 70px;
}

.subcribe-area {
    position: relative;
}

.subcribe-area input {
    outline: none;
    border: none;
    background: #D9D9D9;
    padding: 10px 30px;
    width: 300px;

}

.subcribe-area input::placeholder {
    color: #AA9F9F;
}

.subcribe-area .sub-btn {
    text-decoration: none;
    color: #fff;
    background: #FF5959;
    padding: 5px 15px;
    border-radius: 3px;
    position: absolute;
    top: 1px;
    right: 0px;
}

#footer {
    padding-top: 100px;
    background: #000;
    color: #fff;
    text-align: center;
}

#footer h2 {
    color: #FF5959;
    margin-bottom: 40px;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}

#footer h4 {
    font-weight: normal;
    font-size: 20px;
}